/* This css file is included by being imported in index.js */
*{
    font-size:12px;
    font-weight:normal;
    color:black;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    width: 100%;
 
}
table {
    border:0;
    color:black;
    border:1px solid lightgrey;
    border-radius:4px;
    padding:2rem;
    min-width:693px;
}

.problem1 thead th{
    background:none;
    color:black;
    background:rgb(228, 228, 228);
    padding:0.5rem 1rem;
    font-weight: normal;
}
.problem1 td{
   padding:1rem 0;
}

.sparkline{
    border:1px solid red;
    max-width:500px;
    height:30px;
    margin-top:2rem;
    border:1px solid lightgrey;
    border-radius:4px;
    padding:2rem !important;
    position:relative;
}
.sparkline:before{
   content:attr(data-currency);
   position:absolute;
   top:0.5rem;
   left:0.5rem;
   color:lightgrey;

}
#name{
    font-weight: bold;
}
.blink{
    animation : blinkAnime 0.5s infinite;
}

#chart{
    width:400px;
}
@keyframes blinkAnime{
    0%{
        background:yellow;
    }
    100%{
        background:white;
    }
}